.container {
  max-width: 800px;
  margin: 0 auto;
}

.btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.text-center {
  text-align: center;
}

.form-control {
  width: 80%;
  max-width: 600px;
  margin: 10px 0;
}
