<div class="home-container">
  <div class="container text-center">
    <h1 class="display-4">Welcome to Computer Institute</h1>
    <p class="lead">Your gateway to learning with modern labs, classrooms, and resources.</p>
  </div>
</div>

<div class="container text-center mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let card of cardData">
      <div class="card">
        <img class="card-img-top" [src]="card.image" alt="{{ card.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <p class="card-text">{{ card.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
