/* Navigation link styles */
.nav-link {
  cursor: pointer; /* Change cursor to pointer */
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffcc00; /* Add hover effect */
}

/* Search Bar Styles */
.search-form button {
  cursor: pointer; /* Change cursor to pointer */
  padding: 6px 10px;
  margin-left: 5px;
  background-color: #ffcc00;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.search-form button:hover {
  background-color: #ffdd57;
}
